<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amnex.etmmethods">

    <application
        android:name=".MyApplication"
        >
        <activity
            android:name=".EtmMainActivity"
            android:exported="false" />
    </application>

</manifest>